.header {
  background-color: #0d0d0d;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 768px;
  width: 100%;

  margin: 0 auto;
  margin-top: -27px;
  padding: 0 16px;
}

.form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form input {
  flex: 1;

  padding: 16px;

  font-size: 16px;
  color: #808080;

  background-color: #262626;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
}

.form input::placeholder {
  color: #808080;
}

.form input:focus {
  border-color: #1e6f9f;
}

.form button {
  padding: 16px;

  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;

  background-color: #1e6f9f;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 6px;

  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  filter: brightness(0.8);
}

.tasksHeader {
  margin-top: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasksHeader div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tasksHeader div strong {
  font-size: 14px;
}

.tasksHeader div strong {
  color: #4ea8de;
}

.tasksHeader div + div strong {
  color: #8284fa;
}

.tasksHeader div span {
  font-size: 12px;
  font-weight: 700;
  color: #d9d9d9;

  background-color: #333333;
  border-radius: 9999px;

  padding: 2px 8px;
}

.emptyList {
  margin-top: 24px;
  padding-top: 64px;

  border-top: 1px solid #333333;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyList strong {
  margin-top: 16px;

  font-size: 16px;
  color: #808080;
}

.emptyList span {
  margin-top: 4px;
  color: #808080;
}

.tasksList {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taskCard {
  padding: 16px;

  background-color: #262626;
  border: 1px solid #333333;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}

.taskCard input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 16px;
  height: 16px;

  border: 2px solid #4ea8de;
  border-radius: 99999px;

  cursor: pointer;
}

.taskCard input[type="checkbox"]:checked {
  background-color: #5e60ce;
  background-image: url("../assets/check.svg");
  background-position: center;
  background-repeat: no-repeat;

  border-color: #5e60ce;

  display: flex;
  align-items: center;
  justify-content: center;
}

.taskCard span {
  flex: 1;

  margin-left: 16px;
  margin-right: 18px;

  font-size: 14px;
  color: #f2f2f2;
  line-height: 1.4;

  word-break: break-all;
}

.taskCard:has(input[type="checkbox"]:checked) span {
  text-decoration: line-through;
  color: #808080;
}

.taskCard button {
  all: unset;

  width: 24px;
  height: 24px;

  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.taskCard button:hover {
  filter: brightness(1.2);
  background-color: #333333;
}

@media (max-width: 600px) {
  .form button {
    gap: 0;
    font-size: 0;
  }
}
