.container {
  max-width: 768px;
  width: 100%;

  margin: 0 auto;
  margin-top: -27px;
  padding: 0 16px;
}

.tasksHeader {
  margin-top: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasksHeader div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tasksHeader div strong {
  font-size: 14px;
}

.tasksHeader div strong {
  color: #4ea8de;
}

.tasksHeader div + div strong {
  color: #8284fa;
}

.tasksHeader div span {
  font-size: 12px;
  font-weight: 700;
  color: #d9d9d9;

  background-color: #333333;
  border-radius: 9999px;

  padding: 2px 8px;
}

.tasksList {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
