.input {
  max-width: 638px;
  width: 100%;
  padding: 1rem;

  background: var(--gray-500);
  color: var(--gray-100);
  line-height: 140%;
  border-radius: 8px;
  border: 0;

  outline: 0;
}

.input:focus {
  outline: 1px solid var(--purple-dark);
}
